
body {
    background-image: url('/assets/triangles.png');
}

body > div.container {
    background: white;
    /*background: rgba(255, 255, 255, 0.7);*/
}

.slick-prev:before, .slick-next:before {
    color: rgb(116, 116, 116)
}

.slick-gallery-item {
    padding: 15px;
    overflow: hidden;
}

.slick-gallery-item a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slick-gallery-item img {
    margin: 0 auto;
}

.slick-center { }